body#reset_password{
	background-image: url(/assets/light_bg.png);
	font-family: "Source Sans Pro",sans-serif !important;
}

#reset_password .navbar{
	background-color: #46913e;
}
.radio_label{
	color: #8e9fa7;
	float: left;
  	clear: none;
}
fieldset {
  overflow: hidden
}
label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 6px 7px 0 2px;
}
#reset_password > div#message{
  text-align: center;
}